services:

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: prioriza-sql
    environment:
      SA_PASSWORD: "${DB_PASSWORD}"
      ACCEPT_EULA: "Y"
      MSSQL_PID: "Express"
    ports:
      - "${DB_PORT}:1433"
    volumes:
      - sql_data:/var/opt/mssql

volumes:
  sql_data: